xcuserdata/
artifacts/
.Make
Artifacts
.DS_Store
build-artifacts/
.DerivedData
.ruby-version
deps/lhs.maps.xcframework/*/dSYMs/
/src/Lido_mPilot/Acknowledgements.plist
/packages/LHSDesignSystem/ExampleApp/LHSDesignSystemApp.xcodeproj/project.xcworkspace/xcshareddata
